.bottom-panel {
  display: flex;
  align-items: flex-start;
  background: rgba(255, 255, 255, .3);
  
  &__mark {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}

// .bgColorBox {
//   display: none;
//   opacity: 0;
//   transition: opacity .3s;
// }