.form {
  padding: 3px 16px;
  font-size: 14px;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(#000, .1);
  border-bottom: 1px solid rgba(#000, .1);
}

.formInput {
  box-sizing: border-box;
  height: 28px;
  border: none;
  padding: 0;
  outline: none;
  width: 100%;
  // background: url(../../../assets/images/plus-symbol.1.svg) no-repeat;
  background-size: 12px 100%;
  padding-left: 5px;
}

.icon {
  font-size: 10px;
  color: #a9a9a9;
}