.logo {
  display: flex;
  align-items: center;
}

.logoIcon {
  width: 32px;
  margin-right: 10px;
}

.logoName {
  font-family: Arial,sans-serif;
  font-size: 22px;
  line-height: 24px;
  color: #5f6368;
}