.choose-color {
  position: relative;
  cursor: pointer;
  color: #333;

  &__box {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    transform: translateY(-100%);
  }
  
  &__list {
    background: #eee;
    list-style-type: none;;
  } 
  
  &__list-item {
    padding: 10px;
  }
}

