.headerNotice {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: #fff;
}

.noticeContainer {
  height: 100%;
}

.headerNoticeMain {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.noticeTitle {
  margin-right: auto;
  margin-left: 20px;
}
