

.img {
  width: 100%;
  height: auto;
  opacity: 1;
  transition: opacity .7s;
}

.imgBox {
  // height: 100px;
  transition: height .5s;

  // &.activeClass {
  //   .img {
  //     opacity: 1;
  //   }
  // }
}