
.deleteIcon {
  position: absolute;
  position: absolute;
  bottom: 12px;
  right: 14px;
  color: #ccc;
  opacity: 0;
  transition: opacity .3s;
}

.pictureBox {
  position: relative;

  &:hover {
    .deleteIcon {
      opacity: 1;
    }
  }
}

.picturePreview {
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}