@import 'variables';
@import 'mixins';


.container {
    @include container;
}

/***** nowrap *****/
.nowrap {
    white-space: nowrap;
}

/***** img-fluid *****/
.img-fluid {
    max-width: 100%;
    height: auto;
}