.emptyNotesBox {
  width: 100%;
  text-align: center;
}

.notesList {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: -1%;

  @media (max-width: 1199px) {
    margin-left: -1.5%;
  }
}

.npWrap {
  width: 100%;
}

.notesListTitle {
  text-transform: uppercase;
  padding: 0 0 10px 20px;
}

.fixNotesBox {
  margin-bottom: 70px;
}