.all-notes {
  &__main {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: -1%;

    @media (max-width: 1199px) {
      margin-left: -1.5%;
    }
  }
  
}

.ggg {
  width: 100%;
}