.noteBottomPanel {
  display: flex;
  align-items: center;
  padding: 18px 15px 10px;

  // &.notePreview {
  //   border-radius: 0 0 0 0;
  // }
}

.icon {
  margin-left: 20px;
  color: #202124;
  opacity: .71;
  transition: opacity .3s;
  
  &:first-child {
    margin-left: 0;

    .choose-color {
      background: #ddd;
    }
  }

  &_3 {
    margin-left: 30px;
  }

  &:hover {
    opacity: 1;
  }
}

.bgColorBox {
  display: none;
  opacity: 0;
  transition: opacity .3s;
}

