
@import '../../../styles/variables';

.panelTitle {
}

.textarea {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font: 18px/1 $Ruda;
  letter-spacing: 0.01em;
  padding: 20px 30px;
  resize: none;
}