.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 7px 9px 7px 16px;
  cursor: pointer;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: background-color ease-out .200s;

  &:first-child {
    padding-top: 15px;
  }
  
  &:last-child {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
  }
}


.checkbox {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer;
  border: 1px solid #969696;
  margin-bottom: 1px;
  border-radius: 2px;
}

.checkboxMark {
  font-size: 0.55em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  color: #6b6b6b;
  opacity: 0;
  transition: opacity ease-out .2s;
}

.input {
  border: none;
  outline: none;
  display: block;
  width: 100%;
  padding: 0 10px 0 15px;
  font: 16px "Roboto", sans-serif;
  background: transparent;
}

.closeBtn {
  font-size: .8em;
  color: rgba(65, 65, 65, 0.7);
  // margin-right: 2px;
  // width: 19px;
  // height: 16px;
  // background: #333;
  // background: url(../../..//assets/images/error.svg) no-repeat;
  cursor: pointer;
  opacity: 0;
  transition: opacity ease-out .1s;
}

.listItem {
  &:hover .closeBtn {
    opacity: 1;
  }
  
  &.active .checkbox {
    .checkboxMark {
      opacity: 1;
    }
  }
  
  &.active .input {
    text-decoration: line-through;
    color: rgba(65, 65, 65, 0.7);
  }
}