.notes-panel {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  border-radius: 10px;

    
  &__icon {
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    transition: color .5s;
    color: #777;

    &:hover {
      color: #333;
    }
  }

  &__img-icon {
    right: 20px;
    font-size: 23px;
  }

  &__list-icon {
    right: 60px;
    font-size: 20px;
  }
  

  &__textarea {
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: text;
  }
}