// var

$Arial: Arial, sans-serif;

// mixins

@mixin btn() {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  height: 35px;
  padding: 0 20px;
  font: 14px/35px $Arial;
  // letter-spacing: 0.08em;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: #000;
  transition: color 0.15s ease-in-out, background-color .3s ease-in-out, box-shadow .3s;
}

@mixin btn_block($w: 100%) {
  display: block;
  width: $w;
  padding-left: 20px;
  padding-right: 20px;
}

@mixin btn_gray() {
  color: rgba(0,0,0,0.87);
  background-color: transparent;
  transition: background-color .3s;

  &:hover {
    background-color: rgba(95,99,104,0.039);
    color: #242939;
  }
}

// base


*,
*::before,
*::after {
    box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  min-height: auto;
  // height: 100%;
}


// classes

.container {
  max-width: 100%;
  min-width: 320px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  
  @media (min-width: 576px) {
      max-width: 540px;
  }
  
  @media (min-width: 768px) {
      max-width: 720px;
  }
  
  @media (min-width: 992px) {
      max-width: 960px;
  }
  
  @media (min-width: 1200px) {
      max-width: 1170px;
  }
}

/***** nowrap *****/
.nowrap {
    white-space: nowrap;
}

/***** img-fluid *****/
.img-fluid {
    max-width: 100%;
    height: auto;
}

* {
    margin: 0;
    padding: 0;
}

/***** btn *****/
.btn {
  @include btn; 

  &_gray {
    @include btn_gray;
  }
  
  &_block {
    @include btn_block;
  }
}

/***** ------------ *****/
/***** ------------ *****/
/***** ------------ *****/
/***** ------------ *****/
/***** ------------ *****/


.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  