.icon {
  position: absolute;
  z-index: 10;
  right: 0;
  // transform: translateY(-50%);
  cursor: pointer;
  transition: color .5s;
  color: #777;

  &:hover {
    color: #333;
  }
}

.imgIcon {
  top: 10px;
  right: 20px;
  font-size: 20px;
}

.listIcon {
  top: 11px;
  right: 55px;
  font-size: 18px;
}


.textarea {
  padding: 14px 16px 14px 16px;
  width: 100%;
  text-align: left;
  cursor: text;
  font: 14px/1 'Ruda', sans-serif;
  letter-spacing: 0.02em;
  font-weight: bold;
  color: #888;
}